<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<!--[lang]-->">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<!--[charset]-->" />
<title><!--[title]--></title>
<meta name="description" content="<!--[slogan]-->" />
<meta name="keywords" content="<!--[keywords]-->" />
<link rel="stylesheet" type="text/css" href="<!--[$stylepath]-->/style.css" media="print,projection,screen" />
<link rel="stylesheet" type="text/css" href="<!--[$stylepath]-->/print.css" media="print" />
	<script type="text/javascript" src="themes/coconut_sea/js/jquery-1.6.1.min.js" ></script>

	<link rel="stylesheet" href="themes/coconut_sea/js/jqtransform/jqtransformplugin/jqtransform.css" type="text/css" media="all" />

	<script type="text/javascript" src="themes/coconut_sea/js/jqtransform/jqtransformplugin/jquery.jqtransform.js" ></script>
	<script language="javascript">
		$(function(){
			$('form').jqTransform({imgPath:'themes/coconut_sea/js/jqtransform/jqtransformplugin/img/'});
		});
</script>

</head>
<body>
<div id="theme_page_container">

<div id="theme_header">
        <h1><!--[sitename]--></h1>
        <h2><!--[slogan]--></h2>

</div>

<div id="theme_navigation_bar">
	<div class="navigation_bar_left"></div>
    <div class="navigation_bar_center">
        <ul>
            <li><a href="<!--[pngetbaseurl]-->"><!--[pnml name="_COCONUT_SEA_HOME"]--></a></li>
            <li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Rate"><!--[pnml name="_COCONUT_SEA_ROOM"]--></a></li>
            <li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Facility"><!--[pnml name="_COCONUT_SEA_FACILITIES"]--></a></li>
            <li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Gallery"><!--[pnml name="_COCONUT_SEA_GALLERY"]--></a></li>
            <li><a href="index.php?module=POBHotel&type=user&func=view&ctrl=Contact"><!--[pnml name="_COCONUT_SEA_CANTACT"]--></a></li>
            <li style="float:right"><!--[blockposition name=language]--></li>
        </ul>
    </div><!--end navigation_bar_center-->
    <div class="navigation_bar_right"></div>
</div>
<div id="content_top"></div>
<div id="content_center">
<div id="slidshow">
<!--[blockposition name=slide]-->
</div><!--end slidshow-->
<div id="theme_subcontent">
<!--[blockposition name=hotel_search]-->
<!--[blockposition name=login]-->

<!--[securityutil_checkpermission_block component='MyModule::' instance='::' level=ACCESS_ADMIN]-->
    <div class="left_box">
        <div class="left_top"><h3><!--[pnml name="_COCONUT_SEA_MEMBER"]--></h3></div>
        <div class="left_repeat">
        <ul>
			<li class="selected"><a href="index.php?module=admin&type=admin&func=adminpanel"><!--[pnml name="_COCONUT_SEA_ADMIN_PANEL"]--></a></li>       	
        	<li class="selected"><a href="index.php?module=InnoGallery"><!--[pnml name="_COCONUT_SEA_ADD_SLIDE"]--></a></li>
			<li class="selected"><a href="<!--[pnmodurl modname=pobhotel type=admin]-->"><!--[pnml name="_COCONUT_SEA_ADD_ROOM"]--></a></li>
 			<li<!--[if $module eq 'Theme']--> class="selected"<!--[/if]-->><a href="<!--[pnmodurl modname=pobhotel type=admin]-->"><!--[pnml name="_COCONUT_SEA_ADD_PIC_HOTEL"]--></a></li>
			<li<!--[if $module eq 'Theme']--> class="selected"<!--[/if]-->><a href="<!--[pnmodurl modname=Theme type=admin]-->"><!--[pnml name="_COCONUT_SEA_CHANGE_TEMPLATE"]--></a></li>

        </ul><!--[displaygreeting]--></br><!--[userlinks]--></div>
        <div class="left_buttom"></div></br>
    </div>
<!--[/securityutil_checkpermission_block]-->
</div>

<div id="theme_content">
<!--[$maincontent]-->
<div id="map"><!--[blockposition name=map]--></div>
</div>

<div id="gallery">
	<script>
		$(document).ready(function() {
		
			$("ul.gallery li").hover(function() { //On hover...
		
				var lightboxOver = $(this).find("img").attr("src"); //Get image url and assign it to 'lightboxOver'
		
				//Set a background image(lightboxOver) on the <a> tag - Set position to bottom
				$(this).find("a.lightbox").css({'background' : 'url(' + lightboxOver + ') no-repeat center bottom'});
		
				//Animate the image to 0 opacity (fade it out)
				$(this).find("span").stop().fadeTo('normal', 0 , function() {
					$(this).hide() //Hide the image after fade
				});
			} , function() { //on hover out...
				//Fade the image to full opacity 
				$(this).find("span").stop().fadeTo('normal', 1).show();
			});
		
		});
	</script>
    <ul class="gallery">
        <li><a href="#" class="lightbox"><span><img src="themes/coconut_sea/js/nivo-slider/demo/images/001.png" alt="" /></span></a></li>
        <li><a href="#" class="lightbox"><span><img src="themes/coconut_sea/js/nivo-slider/demo/images/002.png" alt="" /></span></a></li>
        <li><a href="#" class="lightbox"><span><img src="themes/coconut_sea/js/nivo-slider/demo/images/003.png" alt="" /></span></a></li>
        <li><a href="#" class="lightbox"><span><img src="themes/coconut_sea/js/nivo-slider/demo/images/004.png" alt="" /></span></a></li>
    </ul>



</div><!--end gallery-->
</div><!--end content_center-->

<div id="theme_footer">
    <div class="footer_left"></div>
    <div class="footer_center">
        <p>PhuketCity.com Phuket Online Booking</p>
        <!--[nocache]--><!--[pagerendertime]--><!--[/nocache]-->
        <!--[nocache]--><!--[sqldebug]--><!--[/nocache]-->
    </div><!--end footer_center-->
    <div class="footer_right"></div>
</div><!--end theme_footer-->
</div>
</body>
</html>