<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<!--[lang]-->">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<!--[charset]-->" />
<title><!--[title]--></title>
<meta name="description" content="<!--[slogan]-->" />
<meta name="keywords" content="<!--[keywords]-->" />
<link rel="stylesheet" type="text/css" href="<!--[$stylepath]-->/style.css" media="print,projection,screen" />
<link rel="stylesheet" type="text/css" href="<!--[$stylepath]-->/print.css" media="print" />
<link rel="stylesheet" href="themes/redroom2/js/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="themes/redroom2/js/nivo-slider/demo/style.css" type="text/css" media="screen" />
    
<style type="text/css">
.minitabs-container{ background-color:#fff;}
div.pn-admincontainer{ background-color:#fff;}
#pn-maincontent{ margin:-15px 0 0 0px; background-color:#fff; padding:15px 0 10px 0;}
</style>
</head>
<body>

<div id="theme_page_container">

    <div id="theme_header">
    <div class="logo">
        <h1><!--[sitename]--></h1>
        <h2><!--[slogan]--></h2>
    </div><!--end logo-->
    <div id="theme_navigation_bar">
        <ul class="menu">
            <li><a href="<!--[pngetbaseurl]-->"><!--[pnml name="_HOME"]--></a></li>
            <li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Rate"><!--[pnml name="_ROOM"]--></a></li>
            <li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Facility"><!--[pnml name="_FACILITIES"]--></a></li>
            <li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Gallery"><!--[pnml name="_GALLERY"]--></a></li>
            <li><a href="index.php?module=POBHotel&type=user&func=view&ctrl=Contact"><!--[pnml name="_CANTACT"]--></a></li>
        </ul>
    </div><!--theme_navigation_bar-->
    </div><!--theme_header-->
    <div id="theme_content" style="background-color:#fff;">
        <!--[$maincontent]-->
    </div><!--theme_content-->
<div id="theme_footer"  style="height:80px; width:938px; margin:-20px auto; float:left; ">
	<span class="specter"></span>
        <div class="theme_footer_content"  style=" height:80px; border-bottom:none;">
                    <div class="description" style="margin:35px 0 0 0px;">PhuketCity.com องค์การบริหารส่วนจังหวัดภูเก็ต
            
            </div>
        </div><!--theme_footer_content-->
</div><!--theme_footer-->
</div><!--theme_page_container-->
</body>
</html>