<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<!--[lang]-->">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<!--[charset]-->" />
<title><!--[title]--></title>
<meta name="description" content="<!--[slogan]-->" />
<meta name="keywords" content="<!--[keywords]-->" />
<link rel="stylesheet" type="text/css" href="<!--[$stylepath]-->/style.css" media="print,projection,screen" />
<link rel="stylesheet" type="text/css" href="<!--[$stylepath]-->/print.css" media="print" />
<!--[modulestylesheet xhtml=true]-->
<!--[if $pagetype eq 'admin']--><!--[modulestylesheet stylesheet=admin.css modname=admin xhtml=true]--><!--[/if]-->
</head>
<body>
<div id="theme_page_container">

    <div id="theme_header">
    <div class="logo">
        <h1><!--[sitename]--></h1>
        <h2><!--[slogan]--></h2>
    </div><!--end logo-->
    <div id="theme_navigation_bar">
        <ul>
            <li><a href="<!--[pngetbaseurl]-->"><!--[pnml name="_REDROOM2_HOME"]--></a></li>
            <li<!--[if $module eq 'Search']--> class="selected"<!--[/if]-->><a href="<!--[pnmodurl modname=Search]-->"><!--[pnml name="_SEARCH"]--></a></li>
            <li<!--[if $module eq 'Profile']--> class="selected"<!--[/if]-->><a href="<!--[pnmodurl modname=Profile]-->"><!--[pnml name="_YOURACCOUNT"]--></a></li>
        </ul>
    </div><!--theme_navigation_bar-->
    </div><!--theme_header-->
    <div id="slideshow">
    	<!--[blockposition name=slide]-->
    </div><!--slideshow-->
    <div id="theme_content">
        <div id="theme_content_left"><!--[$maincontent]--></div>
        <div id="theme_content_right"><!--[blockposition name=hotel_search]--></div>
    </div><!--theme_content-->
</div><!--theme_page_container-->
<div id="theme_footer">
	<span class="specter"></span>
        <div class="theme_footer_content">
            <div class="left"><!--[blockposition name=login]-->
			<!--[securityutil_checkpermission_block component='MyModule::' instance='::' level=ACCESS_ADMIN]-->            
                <div class="all">
                    <h3>สำหรับสมาชิก</h3>
                    <ul>
                        <li class="selected"><a href="index.php?module=admin&type=admin&func=adminpanel">ระบบจัดการหลัก</a></li>       	
                        <li class="selected"><a href="index.php?module=InnoGallery">จัดการแกลลอรี่</a></li>
                        <li class="selected"><a href="index.php?module=POBHotel&type=admin&func=form&ctrl=hotel">เพิ่มห้องพัก</a></li>
        			</ul>
                    <!--[displaygreeting]--></br><!--[userlinks]--></div>
                    <!--[/securityutil_checkpermission_block]-->

                </div><!-- end left-->
            <div class="right">
                <img src="themes/redroom2/images/map.png"/><!--[blockposition name=map]-->
            </div>
            <div class="description">PhuketCity.com องค์การบริหารส่วนจังหวัดภูเก็ต
            
            </div>
        </div><!--theme_footer_content-->
</div><!--theme_footer-->
</body>
</html>