<div class="box_left">
            	<div class="title_box">
                    <div class="title_left"></div>
                    <div class="title_center"><h3><!--[$title]--></h3></div>
                    <div class="title_right"></div>
                </div><!--title_box-->
                <div class="content_box"><p><!--[$content]--></p></div>
                <div class="foot_box">
                	 <div class="foot_left"></div>
                    <div class="foot_center"></div>
                    <div class="foot_right"></div>
                </div><!--footer_box-->
            </div><!--box_left-->