<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<!--[lang]-->">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<!--[charset]-->" />
<title><!--[title]--></title>
<meta name="description" content="<!--[slogan]-->" />
<meta name="keywords" content="<!--[keywords]-->" />
<link rel="stylesheet" type="text/css" href="<!--[$stylepath]-->/style.css" media="print,projection,screen" />
<link rel="stylesheet" type="text/css" href="<!--[$stylepath]-->/print.css" media="print" />

<script type="text/javascript"src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="themes/wood/js/jqtransform/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
	<script type="text/javascript" src="themes/wood/js/jqtransform/requiered/jquery.js" ></script>
	<script type="text/javascript" src="themes/wood/js/jqtransform/jqtransformplugin/jquery.jqtransform.js" ></script>
	<script language="javascript">
		$(function(){
			$('form').jqTransform({imgPath:'themes/wood/js/jqtransform/jqtransformplugin/img/'});
		});
</script>
   
<style type="text/css">
#theme_content,div.pn-admincontainer,#theme_content{
	margin-bottom:0px !important;
	padding-bottom:0px !important; 
}
#theme_footer  .description{ margin:30px 0 0 0;}
#pn-maincontent{ background-color:#FFF}
#theme_content{ color:#000}
</style>
</head>
<body>
<div id="theme_page_container">

    <div id="theme_header">
    	<div class="theme_header">         
            <h1><!--[sitename]--></h1>
            <h2><!--[slogan]--></h2>
        </div>
  </div>
    <div id="theme_navigation">
        <div id="theme_navigation_bar">
            <ul>
            <li><a href="<!--[pngetbaseurl]-->"><span>01.</span><!--[pnml name="_HOME"]--></a></li>
            <li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Rate"><span>02.</span><!--[pnml name="_ROOM"]--></a></li>
            <li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Facility"><span>03.</span><!--[pnml name="_FACILITIES"]--></a></li>
            <li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Gallery"><span>04.</span><!--[pnml name="_GALLERY"]--></a></li>
            <li><a href="index.php?module=POBHotel&type=user&func=view&ctrl=Contact"><span>05.</span><!--[pnml name="_CANTACT"]--></a></li>
        </ul>
        <span style="float:right;"><!--[blockposition name=language]--></span>
        </div>
    </div>
</div><!--theme_page_container-->


<div id="theme_content"> 
<!--[$maincontent]-->


</div>   
<div id="theme_footer" style="width:960px; height:60px; margin: 0 auto" >
	  <div class="theme_footer_content" style="width:960px; height:60px;">
           
            <div class="description">PhuketCity.com องค์การบริหารส่วนจังหวัดภูเก็ต
            
            </div>
  </div><!--theme_footer_content-->
</div>
</body>
</html>