@charset "utf-8";
/* CSS Document */
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:100% !important;
	background:url(../images/bg.jpg) top center no-repeat #FFF;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	}
a{
	color:#467aa7;
	font-weight:bold;
	text-decoration:none;
	background-color:inherit;
}
a:hover{color:#2a5a8a; text-decoration:none; background-color:inherit;}
a img{border:none;}

p{padding:0 0 1.6em 0;}
p form{margin-top:0; margin-bottom:20px;}

img.left,img.center,img.right{padding:4px; border:1px solid #a0a0a0;}
img.left{float:left; margin:0 12px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 12px;}
.pn-bkey-menu li, .pn-bkey-extmenu li{list-style:none; display:block; padding:2px; margin-bottom:2px;}
.pn-bkey-menu li a, .pn-bkey-extmenu li a{font-weight:bold; text-decoration:none;}
.pn-bkey-menu li a:hover, .pn-bkey-extmenu li a:hover{text-decoration:none;}
.pn-bkey-menu li ul, .pn-bkey-extmenu li ul{margin:3px 0 3px 15px; font-size:1em; font-weight:normal;}
.pn-bkey-menu li ul li, .pn-bkey-extmenu li ul li{margin-bottom:0;}
.pn-bkey-menu li ul a, .pn-bkey-extmenu li ul a{font-weight:normal;}
table.pn-datatable {
	width:100%;
	line-height:1.2em;
	background-color:#fff;
	border-collapse:collapse;
	text-align:left;
	letter-spacing:.1em;
	margin-bottom:1em;
}

table.pn-datatable caption {
	padding-bottom:1em;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing:.6em;
	color: #333;
	background: transparent;
}
  
table.pn-datatable thead th, table.pn-datatable tfoot th, table.pn-datatable tfoot td {
	border-right: 1px solid #fff;
	padding-left:5px;
	font-variant:small-caps;
	letter-spacing:0.1em;
	color: #fff;
	background: #a0a0a0;
}
  
table.pn-datatable tfoot th, table.pn-datatable tfoot td {
	border-top: 2pt double #009;
}

table.pn-datatable td, table.pn-datatable th {
	padding:4px;
}

table.pn-datatable tbody tr th, table.pn-datatable tbody tr td {
	border-bottom: 1px dotted #467aa7;
}

table.pn-datatable tbody tr:hover td, table.pn-datatable tbody tr:hover th {
	border-bottom: 1px solid #467aa7;
}

table.pn-datatable tbody td a, table.pn-datatable tbody th a {
	background: transparent;
	text-decoration: none;
	border:none;
}

table.pn-datatable tbody td a:hover, table.pn-datatable tbody th a:hover {
	background: transparent;
}

table.pn-datatable .odd {
	background: #e3e3f4;
}

table.pn-datatable tbody tr:hover {
	color: #333;
	background: #e8eaec;
}

table.pn-datatable tbody tr th:hover {
	background:#fff;
}


#container{
	position:relative;
	overflow:hidden;
	margin:0 auto;
	width:986px;
	height:auto;
	
	}
#header{
	padding:10px 0 0 5px;
	width:100%;
	height:110px;
	float:left;
	}
#header h1{ color:#FFF; font-size:26px; line-height:15px;}
#header h2{ color:#FFF; font-size:16px; line-height:15px;}
/*#header .logo{
	position:relative
	float:left;
	width:318px;
	height:72px;
	background-image:url(../images/login_bg.png);
	background-repeat:no-repeat;
	padding:10px;
	margin:20px 0 0 0px;
	}*/
#navbar{	
	position:relative;
	overflow:hidden;
	width:100%;
	height:56px;
	float:left;
	}
.navbar_left{
	float:left;
	width:8px;
	height:56px;
	background:url(../images/left_right_nav.png) top left no-repeat;
	background-repeat:no-repeat;
	
	}
.navbar_center{
	float:left;
	height:56px;
	width:970px;
	background:url(../images/center_nav.png) repeat-x;
	}
.navbar_center a{
	display:block;
	color:#fff;
	text-decoration:none;
	
	}
.navbar_center ul{
	padding:0 0 0 10px;
	}
.navbar_center ul li{
	list-style:none;
	float:left;
	padding:0 15px 0 0px;

	}

.navbar_right{
	float:left;
	height:56px;
	width:8px;
	background:url(../images/left_right_nav.png) top right no-repeat;
	background-repeat:no-repeat;

	}

#slideshow{
	margin:5px 0 0px 0px;
	width:986px;
	height:295px;
	float:left;
	padding:0 0 0 3px;
	
	}
#main{
	float:left;
	position:relative;
	width:986px;
	height:auto;
	}
#leftmenu{
	position:relative;
	float:left;
	width:263px;
	height:auto;
	}
.box_left{
	position:relative;
	margin: 0px;
	width:263px;
	}
.title_box{
	position:relative;
	width:263px;
	height:48px;
	float:left;
	}
.title_left{
	float:left;
	width:10px;
	height:48px;
	background-image:url(../images/left_submenu.jpg);
	background-repeat:no-repeat;
	}
.title_center{
	float:left;
	width:243px;
	height:48px;
	background-image:url(../images/center_submenu.jpg);
	background-repeat:repeat-x;
	}
.title_center h3{
	color:#fff;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	padding:0 0 0 5px;
	
	
	}


.title_right{
	float:left;
	width:10px;
	height:48px;
	background-image:url(../images/right_submenu.jpg);
	background-repeat:no-repeat;
	}
	
.content_box{
	margin:0px;
	width:263px;
	height: auto;
	float:left;
	background-image:url(../images/box_content.jpg);
	background-repeat:repeat-y;
	}
#leftmenu .content_box a{
	font-size:14px;
	text-decoration:none;
	color:#116DB6;
	}
#leftmenu .content_box ul{
	padding:0 0 0 0px;
	}
#leftmenu .content_box li{
	list-style:none;
	padding:0 0 10px 0px;
	border-bottom: dotted 1px #CCC;
	width:222px;
	background-image:url(../images/list.jpg);
	background-repeat:no-repeat;
	background-position:left 8px;
	text-indent:18px;
	line-height:25px;
	}

#leftmenu .content_box li:hover{
	background-image:url(../images/list_hover.jpg);
	}
#leftmenu .content_box li a:hover{
	color:#989898;
	}
#leftmenu .jqTransformSelectWrapper a{ font-size:12px;}
#leftmenu .jqTransformSelectWrapper ul{ padding:0px; width:85px;}
#leftmenu .jqTransformSelectWrapper li{padding:0px; background-image:none; text-indent:0px; line-height:15px; border-bottom:none; width:70px;}
.content_box{padding:0 0 0 25px;}
.content_box p{
	font-size:14px;
	padding:0 5px 0 10px;
	}

.foot_box{
	position:relative;
	width:263px;
	float:left;
	}
.foot_left{
	float:left;
	width:13px;
	height:18px;
	background-image:url(../images/left_footerbox.jpg);
	background-repeat:no-repeat;
	}
.foot_center{
	float:left;
	height:18px;
	width:237px;
	background-image:url(../images/center_footerbox.jpg);
	background-repeat:repeat-x;
	}
.foot_right{
	float:left;
	width:13px;
	height:18px;
	background-image:url(../images/right_footerbox.jpg);
	background-repeat:no-repeat;
	}
/*end left menu*/

#content{
	margin:0 0 0 0px;
	float:left;
	width:723px;
	height:auto;
	}
.box_content{
	position:relative;
	margin: 0px;
	width:100%;

	}
.top_box{
	margin:0px;
	position:relative;
	width:100%;
	float:left;
	height:46px;
	}
.top_left{
	float:left;
	width:11px;
	height:46px;
	background-image:url(../images/left_content.jpg);
	background-repeat:no-repeat;
	}
.top_center{
	float:left;
	width:700px;
	height:46px;
	background-image:url(../images/center_content.jpg);
	background-repeat:repeat-x;
	}
.top_right{
	float:left;
	width:11px;
	height:46px;
	background-image:url(../images/right_content.jpg);
	background-repeat:no-repeat;
	}
.body_box{
	width:723px;
	height: auto;
	float:left;
	background-image:url(../images/box_body.jpg);
	background-repeat:repeat-y;
	}
.pn-module-Tour{
	padding:0 10px 0 20px;
	
	}

.buttom_box{
	position:relative;
	width:723px;
	float:left;
	}
.buttom_left{
	float:left;
	width:13px;
	height:13px;
	background-image:url(../images/left_contentfooter.jpg);	
	background-repeat:no-repeat;
	}
.buttom_center{
	float:left;
	height:13px;
	width:696px;
	background-image:url(../images/center_contentfooter.jpg);
	background-repeat:repeat-x;
	}
.buttom_right{
	float:left;
	width:13px;
	height:13px;
	background-image:url(../images/right_contentfooter.jpg);
	background-repeat:no-repeat;
	}
	
/*end content	*/

#footer{
	position:relative;
	float:left;
	width:986px;
	height:133px;
	}
.footer_left{
	float:left;
	height:133px;
	width:9px;
	background-image:url(../images/footer_left.jpg);
	background-repeat:no-repeat;	
	}
.footer_center p{
	color:#fff;
	text-align:center;
	font-size:14px;
	margin:25px 0 0 0;
	}
.footer_center{
	float:left;
	height:133px;
	width:968px;
	background-image:url(../images/footer_center.jpg);
	background-repeat:repeat-x;
	
	}
.footer_right{
	float:left;
	height:133px;
	width:9px;
	background-image:url(../images/footer_right.jpg);
	background-repeat:no-repeat;
	
	}

#leftmenu input{
	padding: 5px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 205px !important;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}
#leftmenu label{ margin:0 0 0 0px;}
#leftmenu input:focus{
		border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	
	}

#leftmenu input[type=submit],#leftmenu .jqTransformButton{
	background: url(../images/button.jpg) no-repeat ;
	width:89px;
	height:38px;
	border:none !important;
	margin:0px 0 0 120px;
	box-shadow:none;
	color:#fff;
	}
#leftmenu input[type=submit]:hover,#leftmenu .jqTransformButton:hover{
	opacity:0.8;
	cursor:pointer;
	}

#leftmenu .box{
	color:#000;
	height:auto;
	width:250px;
	background-color:transparent;
	margin:-10px 0 0 0px;
	}

#leftmenu .search{
	display:none;
	}
#leftmenu #submitButton{
	background: url(../images/button.jpg) no-repeat ;
	width:89px;
	height:38px;
	border:none;
	margin:0 30px 0 0px;
	
	}	
#leftmenu #submitButton:hover{
	opacity:0.8;
	cursor:pointer;
	} 
#leftmenu select{
		border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 60px;

	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	
	} 
#navigation ul{
	margin:0 0 0 0px !important;
	}
#pn-maincontent h1{ margin:0px 0 0 0px; font-size:16px; color:#6ab044;;}
#pn-maincontent { padding:10px;}
/*-----------------------general---------------------------*/
.jqTransformSelectWrapper li,.jqTransformSelectWrapper li:hover{ line-height:5px; background-image:none; border-bottom:none; padding:0 0 5px -5px; width:auto; }
.jqTransformSelectWrapper ul a{padding:0 -5px 5px 0px;text-indent:0px; font-size:10px; font-weight:normal; height:15px !important; }
.jqTransformSelectWrapper{ width:80px !important; float:left;}
.jqTransformSelectWrapper ul {}
.box dd{margin:10px 0 60px 0px;}
#leftmenu .box dt{ color:#116DB6; font-size:16px !important;}
#leftmenu dl{ margin:0 0 0 -25px;}