/* andreas08 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use in any way and for any purpose as long as the proper credits are given to the original designer. Version: 1.0, November 28, 2005 */

/**************** Body and tag styles ****************/

*{margin:0; padding:0;}

body{
font:76% Verdana,Tahoma,Arial,sans-serif;
line-height:1.4em;
text-align:center;
color:#303030;
margin: 0 0 0 0;
padding: 0 0 0 0;
background:#e4bc8b url(../images/bg.jpg)top center no-repeat;
}

a{
color:#467aa7;
font-weight:bold;
text-decoration:none;
background-color:inherit;
}

a:hover{color:#2a5a8a; text-decoration:none; background-color:inherit;}
a img{border:none;}

p{padding:0 0 1.6em 0;}
p form{margin-top:0; margin-bottom:20px;}

img.left,img.center,img.right{padding:4px; border:1px solid #a0a0a0;}
img.left{float:left; margin:0 12px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 12px;}

/**************** Header and navigation styles ****************/

#theme_page_container{
width:984px;
margin:0px auto;
}

#theme_header{
height:110px;
width:100%;
color:#ffffff;
}

#theme_header h1{
padding:35px 0 0 20px;
font-size:2.4em;
background-color:inherit;
color:#ffffff;
letter-spacing:-2px;
font-weight:normal;
}

#theme_header h2{
margin:10px 0 0 40px;
font-size:1.4em;
background-color:inherit;
color:#f0f2f4;
letter-spacing:-1px;
font-weight:normal;
}

#theme_navigation_bar{
	position:relative;
	height:52px;
	width:100%;
	color:#ffffff;
}
.navigation_bar_left{
	float:left;
	background-image:url(../images/menu_left.png);
	width:34px;
	height:52px;	
	}
.navigation_bar_center{
	float:left;
	background-image:url(../images/menu_center.png);
	width:916px;
	height:52px;	
	}
.navigation_bar_right{
	float:left;
	background-image:url(../images/menu_right.png);
	width:34px;
	height:52px;	
	}
	
#theme_navigation_bar li{
float:left;
list-style-type:none;
}

#theme_navigation_bar li a{
	display:block;
	padding:2px 0 0 12px;
	font-size:16px;
	font-weight:lighter;
	text-transform:capitalize;
	text-decoration:none;
	color:#ffffff;
	line-height:52px;
	text-shadow: 0.1em 0.01em 0.2em #999;
}

* html #theme_navigation_bar a {width:1%;} /* this hack targets IE<7 */

#theme_navigation_bar .selected, #theme_navigation_bar a:hover{
color: #F77C6F;
text-decoration:none;
}

/**************** Content styles ****************/
#content_top{
	float:left;
	height:18px;
	width:100%;
	background:url(../images/bg_top.png) no-repeat;
	}
#content_center{
	float:left;
	min-height:760px;;
	width:100%;
	background:url(../images/bg_repeat.png) repeat-y;
	}
#slidshow{
	margin:0 auto;
	position:relative;
	float:left;
	width:940px;
	height:277px;
	margin:0 0 0 22px;
	}

#theme_content{
	float:left;
	width:35%;
	font-size:0.9em;
	padding:0px 10px 0 0px;
	text-align:left;
}

#theme_content h1{
	line-height:45px;
display:block;
margin:0 0 16px 0;
font-size:20px;
font-weight:normal;
letter-spacing:-1px;
color:#6ab044;
background-color:inherit;
border-bottom:dashed #00c4d9 1px;
}

#theme_content h2{
display:block;
margin:0 0 16px 0;
font-size:1.7em;
font-weight:normal;
letter-spacing:-1px;
color:#505050;
background-color:inherit;
}

#theme_content h2 a{font-weight:normal;}
#theme_content h3{margin:0 0 5px 0; font-size:1.4em; letter-spacing:-1px;}
#theme_content .pn-block h4{margin:0 0 5px 0; font-size:1.2em; letter-spacing:-1px;}
#theme_content a:hover,#subcontent a:hover{text-decoration:underline;}
#theme_content ul,#theme_content ol{margin:0 5px 16px 35px;}
#theme_content dl{margin:0 5px 10px 25px;}
#theme_content dt{font-weight:bold; margin-bottom:5px;}
#theme_content dd{margin:0 0 10px 15px;}

/**************** Sidebar styles ****************/
#theme_subcontent2{
	float:left;
	width:30%;
	height:500px;
	padding:0px 0px 0px 30px;
	}
#theme_subcontent .box{
	color:#000;
	height:auto;
	width:250px;
	background-color:transparent;

	
	
	}
#theme_subcontent .search{
	display:none;
	}
#theme_subcontent #submitButton{
	background: url(../images/button.jpg) no-repeat ;
	width:77px;
	height:38px;
	border:none;
	}	
#theme_subcontent #submitButton:hover{
	opacity:0.8;
	cursor:pointer;
	} 
#theme_subcontent table{
	margin:0 0 0 5px;
	} 
#theme_subcontent{
	text-align:left;
	float:left;
	width:20%;
	padding:0px 0px 0px 0;
}

#theme_subcontent h2{
display:block;
margin:0 0 15px 0;
font-size:1.6em;
font-weight:normal;
text-align:left;
letter-spacing:-1px;
color:#505050;
background-color:inherit;

}
.left_box{
	position:relative;
	width:271px;
	height:auto;
	}
.left_top{
	float:left;
	background-image:url(../images/left_top.png);
	width:100%;
	height:46px;
	}
.left_top h3{
	color:#76d0f5;
	line-height:46px;
	padding:0 0 0 25px;
	font-size:18px;
	text-shadow: 0.1em 0.1em 0.01em #ccc;
	}
.left_repeat{
	float:left;
	background:url(../images/left_repeat.png) repeat-y;
	width:100%;
	height:auto;
	}
.left_repeat p{
	display:none;
	}
.navcontainer a{
	font-size:14px;
	text-decoration:none;
	color:#6AB044;
	font-weight:lighter !important;
	text-shadow: 0.1em 0.1em 0.01em #ccc;

	}
.navcontainer ul{
	padding:0 0 0 -5px;
	}
.navcontainer li{
	list-style:none;
	padding:0 0 10px 0px;
	border-bottom: dotted 1px #CCC;
	width:222px;
	background-image:url(../images/list.jpg);
	background-repeat:no-repeat;
	background-position:left 8px;
	text-indent:18px;
	line-height:25px;
	}
.navcontainer li:hover{
	background-image:url(../images/list_hover.jpg);
	}
.navcontainer li a:hover{
	color:#989898;
	}
.left_buttom{
	float:left;
	background: url(../images/left_buttom.png);
	width:100%;
	height:11px;
	}
#theme_subcontent p{margin:0 0 16px 0; font-size:0.9em;}

/**************** Menublock styles ****************/

/*.pn-bkey-menu, .pn-bkey-extmenu {margin:0 0 20px 8px; font-size:0.9em;}*/
div.navcontainer ul, div#navcontainer ul {
margin:0 0 20px 20px;
font-size:0.9em;
}

.pn-bkey-menu li, .pn-bkey-extmenu li{list-style:none; display:block; padding:2px; margin-bottom:2px;}
.pn-bkey-menu li a, .pn-bkey-extmenu li a{font-weight:bold; text-decoration:none;}
.pn-bkey-menu li a:hover, .pn-bkey-extmenu li a:hover{text-decoration:none;}
.pn-bkey-menu li ul, .pn-bkey-extmenu li ul{margin:3px 0 3px 15px; font-size:1em; font-weight:normal;}
.pn-bkey-menu li ul li, .pn-bkey-extmenu li ul li{margin-bottom:0;}
.pn-bkey-menu li ul a, .pn-bkey-extmenu li ul a{font-weight:normal;}


/**************** Footer styles ****************/
#gallery{
	position:relative;
	float:left;
	width:940px;
	height:150;
	margin:0 0 0 24px;
	}
#theme_footer{
	position:relative;
	text-align:center;
	clear:both;
	width:100%;
	font-size:0.9em;
	height:85px;
}
.footer_left{
	float:left;
	width:35px;
	height:85px;
	background:url(../images/footer_left.png) no-repeat;
	}
.footer_center{
	float:left;
	width:914px;
	height:85px;
	background:url(../images/footer_center.png) repeat-x;
	padding:25px 0 0 0px;
	color:#FFF;
	}
.footer_center p{
	font-size:14px;
	text-shadow: 0.1em 0.01em 0.2em #999;
	
	}
.footer_right{
	float:left;
	width:35px;
	height:85px;
	background:url(../images/footer_right.png) no-repeat;
	}
#theme_footer p{padding:0; margin:0; text-align:center;}
#theme_footer a{color:#f0f0f0; background-color:inherit; font-weight:bold;}
#theme_footer a:hover{color:#ffffff; background-color:inherit; text-decoration: underline;}

/* admin style override */
#theme_content div.pn-adminformrow label + ul > li {
}
#theme_content div.pn-adminformrow label + ul > li:first-child {
    margin-left: 0em;
}

/**************** Misc classes and styles ****************/

.theme_splitcontentleft{float:left; width:48%;}
.theme_splitcontentright{float:right; width:48%;}
.clear{clear:both;}
.small{font-size:0.8em;}
.hide{display:none;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.important{color:#f02025; background-color:inherit; font-weight:bold;}

/* images */
img {
border:none;
}

.theme_box{
margin:0 0 20px 0;
padding:10px;
border:1px solid #c0c0c0;
background-color:#fafbfc;
color:#505050;
line-height:1.5em;
}

#news_articlecontent	{} /*open to design ideas*/
.news_title		{} /*open to design ideas*/
#news_editlinks		{} /*open to design ideas*/
#news_editlinks_ajax	{} /*open to design ideas*/
.news_meta		{} /*open to design ideas*/
#news_topic		{} /*open to design ideas*/
#news_body		{} /*open to design ideas*/
.news_body		{} /*open to design ideas*/
#news_notes		{} /*open to design ideas*/
#news_modify		{} /*open to design ideas*/

/* Table styles based on style from the css table gallery 
   STYLESHEET: CLEAR BLUE, AUTHOR: ROBERT HARTL */

table.pn-datatable {
	width:100%;
	line-height:1.2em;
	background-color:#fff;
	border-collapse:collapse;
	text-align:left;
	letter-spacing:.1em;
	margin-bottom:1em;
}

table.pn-datatable caption {
	padding-bottom:1em;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing:.6em;
	color: #333;
	background: transparent;
}
  
table.pn-datatable thead th, table.pn-datatable tfoot th, table.pn-datatable tfoot td {
	border-right: 1px solid #fff;
	padding-left:5px;
	font-variant:small-caps;
	letter-spacing:0.1em;
	color: #fff;
	background: #a0a0a0;
}
  
table.pn-datatable tfoot th, table.pn-datatable tfoot td {
	border-top: 2pt double #009;
}

table.pn-datatable td, table.pn-datatable th {
	padding:4px;
}

table.pn-datatable tbody tr th, table.pn-datatable tbody tr td {
	border-bottom: 1px dotted #467aa7;
}

table.pn-datatable tbody tr:hover td, table.pn-datatable tbody tr:hover th {
	border-bottom: 1px solid #467aa7;
}

table.pn-datatable tbody td a, table.pn-datatable tbody th a {
	background: transparent;
	text-decoration: none;
	border:none;
}

table.pn-datatable tbody td a:hover, table.pn-datatable tbody th a:hover {
	background: transparent;
}

table.pn-datatable .odd {
	background: #e3e3f4;
}

table.pn-datatable tbody tr:hover {
	color: #333;
	background: #e8eaec;
}

table.pn-datatable tbody tr th:hover {
	background:#fff;
}




ul.gallery {
	width: 980px;
	list-style: none;
	margin: 0; padding: 0;
	float:left;
}
ul.gallery li{
	float: left;
	display: inline;
	}
ul.gallery li a.lightbox {
	width: 234px; /*--Width of image--*/
	height: 172px; /*--Height of image--*/
	padding:0px 0 0px 0px;
	cursor: pointer;
		list-style:none;
}
ul.gallery li span { /*--Used to crop image--*/
	width: 234px;
	height: 172px;
	overflow: hidden;
	display: block;
}
ul.gallery li a.lightbox:hover {
	background: #333; /*--Hover effect for browser with js turned off--*/
}
ul.gallery li h2 {
	list-style:none;
	fon-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0; padding: 10px;
	background: #f0f0f0;
	border-top: 1px solid #fff; /*--Subtle bevel effect--*/
}
ul.gallery li a {text-decoration: none; color: #777; display: block;}

.facility{
	background:url(../images/facility_bg.png) no-repeat;
	width:275px;
	height:249px;
	}
.facility h3{
	text-transform:uppercase;
	font-size:18px;
	line-height:45px;
	color:#fff;
	text-align:left;
	padding:10px 0 0 20px;
	text-shadow: 0.1em 0.01em 0.2em #999;
	}
