@charset "utf-8";
*{margin:0; padding:0; position: relative;}
.clear { clear:both;}

p { padding: 0 0 1em 0}

body {font:76% Verdana,Tahoma,Arial,sans-serif; line-height:1.4em; text-align:center; color:#000; background: url(../images/bg.jpg) center top repeat }
#page_header { width:100%; height: 200px; background: #303033}
#page_header .page_header_wraper { width: 970px; height: 200px; margin: 0 auto;}
#page_wraper { 	width: 940px; margin: 0px auto 20px; padding: 15px; background: #DC3C7E ; border-radius: 0 0 15px 15px; -moz-border-radius: 0 0 15px 15px;}

#sitename_wraper {  text-align: center; height: 120px; text-align: left;}
#sitename_wraper h1 { color: #79caf2;font-size: 40px;line-height: 110px; font-weight:100; text-shadow: 1px 1px 3px #333; padding:30px 0 0 0; display:inline;}
#sitename_wraper h2 { color: #fff; font-size: 18px; line-height: 20px; margin: 5px 0 0 0; text-shadow: 1px 1px 3px #444; display:inline}

#menu_wraper { height: 80px; background: #dc3c7e; border-radius:15px 15px 0 0; -moz-border-radius:15px 15px 0 0}
#menu_wraper .mainmenu { height: 50px; width: 720px; float:left; overflow: hidden;}
#menu_wraper .mainmenu ul { height: 50px; margin: 0 0 0 20px;}
#menu_wraper .mainmenu li { height: 50px; padding: 0 20px 0 20px; float:left; list-style:none;}
#menu_wraper .mainmenu li a{ line-height:80px; color: #fff; text-decoration: none ; font-weight:bold; font-size:18px; text-shadow: 1px 1px 3px #b31247;}

#menu_wraper .mainmenu li:hover a{ color: #79caf2;}


#top_wraper {} 
#top_wraper .slide_wraper { background:#fff; padding: 15px; border-radius: 15px ; -moz-border-radius: 15px;}
#top_wraper .slide_wraper .slide_images { width: 910px; height: 427px;}
#top_wraper .slide_wraper .slide_name { height: 60px;background: black; opacity:0.4; filter:Alpha(opacity=40);}
#top_wraper .slide_wraper .slide_name .slidebody { height: 60px; width: 830px; float:left;}
#top_wraper .slide_wraper .slide_name .slidebody h3{ color: #fff; font-size: 18px; line-height: 60px;}
#top_wraper .slide_wraper .slide_name .left_arrow { height: 60px; width: 40px; background: transparent url(../images/arrow.png) top left no-repeat ; float:left; }
#top_wraper .slide_wraper .slide_name .right_arrow { height: 60px; width: 40px; background: transparent url(../images/arrow.png) top right no-repeat ; float:left; }

#thumslice_wraper .thumbslice { height: 170px; margin: 10px 0 0 0; padding: 10px 0 0 0; border-radius: 10px; -moz-border-radius: 10px;
								background: #fff url(../images/bottom_content_bg.png) top left repeat; border-bottom: 1px solid #e5e5e5;}
#thumslice_wraper .thumbslice h4 { display: none;}
#thumslice_wraper .thumbslice ul{ padding: 10px; margin: 0 0 0 55px;}
#thumslice_wraper .thumbslice li{   border: 1px solid #e5e5e5; padding: 10px; float:left; margin: 0 10px 0 0;
									box-shadow: 1px 1px 5px #eee;
									-webkit-box-shadow: 1px 1px 5px #eee;}
#thumslice_wraper .thumbslice li:hover {border: 1px solid #999; }
#thumslice_wraper .thumbslice img{}


#mid_wraper { border-bottom: 1px solid #e5e5e5; background: #fff; color: :#555; margin: 10px 0 0 0; border-radius: 10px; -moz-border-radius: 10px;}
#mid_wraper .welcome_content {width:600px; float:left; padding: 20px 0 0 20px; text-align:left}
#mid_wraper .welcome_content h1 { color:#0B9DE5; font-size: 18px; text-align:left; line-height: 32px; font-weight:100; 
								  display:block; width: 100%; margin: 0 0 0.5em 0; text-shadow: 1px 1px 3px #559}
#mid_wraper .welcome_content h2 { margin: 0 0 0.5em 0;}
#mid_wraper .welcome_content p {color:#333; text-align: left;}
#mid_wraper .welcome_content a {color:#0B9DE5; text-align: left; text-decoration:none;}
#mid_wraper .welcome_content a:hover {text-decoration:underline}

#mid_wraper .welcome_content h1,#mid_wraper .welcome_content h2,#mid_wraper .welcome_content h3
#mid_wraper .welcome_content h4 {color: #0B9DE5; padding: 0px; font-size: 14px; text-align: left; text-shadow: 1px 1px 3px #AAA;}

#mid_wraper .welcome_content h1 {font-size: 18px;}

#mid_wraper .welcome_content .pn-menu,
#mid_wraper .welcome_content .pn-menu a{ color:#1f7099; display:inline;}
#mid_wraper .welcome_content ul { margin: 10px 0 10px 30px;}
#mid_wraper .welcome_content li { color:#1f7099; padding: 0 0 0 5px;}
#mid_wraper .welcome_content li a {color:#0B9DE5; text-decoration: none;}
#mid_wraper .welcome_content li a:hover {color:#1f7099;text-decoration: underline;}

#mid_wraper .welcome_content em { display:block; margin: 10px 0 0px 30px; color:#1f7099;}

#mid_wraper .reservation {float:left; width:278px; margin: 10px; background: #fff; border: 1px solid #e5e5e5;}
#mid_wraper .reservation  { text-align:left; margin: 10px; padding: 10px; color: #808080; line-height:24px;
							background: #f2f2f2; border: 1px solid #e5e5e5; border-radius: 10px; -moz-border-radius: 10px;}
#mid_wraper .reservation h4 { color: #0B9DE5; padding: 0px; font-size: 18px; text-align:left; text-shadow: 1px 1px 3px #aaa}

#mid_wraper .reservation .box { width: 260px; height: auto; margin: 10px 0 0 0; padding: 10px; color: #555;
font-size: 14px; text-shadow: none; border: 1px solid #CCC; background-color: #E5E5E5;
webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px;}

#mid_wraper .reservation form { padding: 0 10px; width: 240px;}
#mid_wraper .reservation form dl{}
#mid_wraper .reservation form dd{}
#mid_wraper .reservation form dd select{}
#mid_wraper .reservation form dd option{}
#mid_wraper .reservation #select { background: #fff; color: #808080	; border: 1px #e5e5e5 solid;}
#mid_wraper .reservation #select2 { background: #fff; color: #808080; border: 1px #e5e5e5 solid;}
#mid_wraper .reservation #checkin_year_month { position: absolute; left: 80px; top: -20px; background: #fff; color: #808080; border: 1px #e5e5e5 solid;}
#mid_wraper .reservation #checkin_year_month2 { position: absolute; left: 80px; top: -20px; background: #fff; color: #808080; border: 1px #e5e5e5 solid;}
#mid_wraper .reservation #submitButton {margin: 10px 0 0 0; position: relative; width: auto; height: auto; left: 10px; padding: 5px 15px; font-size: 14px;
background: #6DC6F2 ; border: 1px #5CB5E1 solid; color: white; box-shadow: 1px 1px 5px #EEE;-webkit-box-shadow: 1px 1px 5px #EEE; 
border-radius: 5px; -moz-border-radius: 5px;}
#mid_wraper .reservation #submitButton:hover {  border: 1px #3983b0 solid;}



#mid_wraper .reservation .box select{width: 70px; height: 20px; border: none; 
border: 1px solid #9B9B9B; border-bottom: 1px solid #D8D8D8; 
border-right: 1px solid #D8D8D8; -webkit-border-radius: 5px -moz-border-radius: 5px; border-radius: 5px;}

#bottom_wraper {background: #fff; border-bottom: 1px solid #e5e5e5; margin: 10px 0 0 0 ; border-radius: 10px; -moz-border-radius: 10px; overflow:hidden;}
#bottom_wraper .login_form { width:268px; margin: 10px; padding: 0 ; float: left; border: 1px solid #e5e5e5;  background: #f2f2f2; 
							border-radius: 10px 0 0 10px; -moz-border-radius: 10px 0 0 10px;}
#bottom_wraper .login_form .pn-bkey-login { text-align: left; color: #333; line-height: 24px; height: auto;
											 background: #e5e5e5 ; padding:10px; margin: 10px; border: 1px solid #ccc;}
#bottom_wraper .login_form .pn-bkey-login form {padding: 0;}
											 
#bottom_wraper .login_form .pn-bkey-login #loginblock_username,
#bottom_wraper .login_form .pn-bkey-login #loginblock_password {background: #fff; color: #333; border: 1px #ccc solid; width:220px;}
#bottom_wraper .login_form .pn-bkey-login h4 { color: #0B9DE5; padding: 0 0 10px; font-size: 18px; text-align:left; text-shadow: 1px 1px 3px #aaa;border-bottom: 1px dotted #CCC;}

#bottom_wraper .login_form .pn-bkey-login #loginblock_rememberme { margin: 10px 0 0 0; }
#bottom_wraper .login_form .pn-bkey-login  label[for="loginblock_rememberme"] {position: absolute; left: 25px; top: 100px;}
#bottom_wraper .login_form .pn-bkey-login  input[type="submit"]{	margin: 10px 0 0 0; position: relative; left: 165px; padding: 3px 10px;
																	background: #6dc6f2; border: 1px #5CB5E1 solid; color: white;}
#bottom_wraper .login_form .pn-bkey-login  input[type="submit"]:hover {border:1px #3983b0 solid}																	

#bottom_wraper .login_form .pn-bkey-login li { list-style: none}
#bottom_wraper .login_form .pn-bkey-login li a {color: #0B9DE5; line-height: 24px; text-decoration:none;}
#bottom_wraper .login_form .pn-bkey-login li a:hover {color: #1f7099;}
#bottom_wraper .login_form a { color:#0B9DE5}
#bottom_wraper span { display: block; color:#333}

#bottom_wraper .member_box {text-align: left; color: #B3B3B3; line-height: 24px; padding:10px; margin: 10px; 
 background: #E5E5E5 url(../images/login_bg.png) top left repeat; border: 1px solid #ccc;}
#bottom_wraper .member_box h4 { color: #0B9DE5; padding: 0px 0 10px 0; font-size: 18px; text-align: left; 
										text-shadow: 1px 1px 1px #77B; line-height: 26px; margin: 0 0 5px 0; border-bottom: 1px dotted #CCC;}

#bottom_wraper .member_box ul {margin: 8px 0 8px 10px;}
#bottom_wraper .member_box li {margin: 0 10px 0 20px; padding: 0;}
#bottom_wraper .member_box li a { text-decoration: none}
#bottom_wraper .member_box li a:hover { color: #7777BB; text-decoration:underline;}
#bottom_wraper .member_box span { color:#555}

#mid_wraper .welcome_content ul { margin: 10px 0 10px 30px;}
#mid_wraper .welcome_content li { color:#1f7099; padding: 0 0 0 5px;}
#mid_wraper .welcome_content li a {color:#0B9DE5; text-decoration: none;}
#mid_wraper .welcome_content li a:hover {color:#1f7099;text-decoration: underline;}

#bottom_wraper  .map { width: 617px; height: 265px; margin: 10px 0 10px 0;float: left; border: 1px solid #e5e5e5; padding: 10px;
						background: #f2f2f2;border-radius: 0 10px 10px 0; -moz-border-radius: 0 10px 10px 0;}
#bottom_wraper  .map h4 {display: none}
#bottom_wraper  .map .pn-block { overflow:hidden;}


#footer_wraper { height:63px; background: #fff ; margin: 10px 0 0 0; border-radius: 10px; -moz-border-radius: 10px;}
#footer_wraper p { color: #808080; text-align:center; line-height: 62px;}
