/* andreas08 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use in any way and for any purpose as long as the proper credits are given to the original designer. Version: 1.0, November 28, 2005 */

/**************** Body and tag styles ****************/

*{margin:0; padding:0;
z-index:1}

body{
font:76% Verdana,Tahoma,Arial,sans-serif;
line-height:1.4em;
text-align:center;
color:#303030;
margin: 0 0 0 0;
padding: 0 0 0 0;
background-image:url(../images/bg.jpg);
background-repeat:repeat;
background-position:top center;
}

a{
color:#467aa7;
font-weight:bold;
text-decoration:none;
background-color:inherit;
}

a:hover{color:#2a5a8a; text-decoration:none; background-color:inherit;}
a img{border:none;}

p{padding:0 0 1.6em 0;}
p form{margin-top:0; margin-bottom:20px;}

img.left,img.center,img.right{padding:4px; border:1px solid #a0a0a0;}
img.left{float:left; margin:0 12px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 12px;}

/**************** Header and navigation styles ****************/

#theme_page_container{
width:938px;
margin:0px auto;
text-align:left;
color:#303030;
height:auto;
}

#theme_header{
	position:relative;
	height:130px;
	width:100%px;
	background:#000;
	color:#ffffff;
	background:url(../images/header.jpg) no-repeat top center;
}
#theme_header .logo{
	padding:10px 0 0 0px;
	float:left;
	height:120px;
	width:260px;
	
	}

#theme_header h1{
padding:35px 0 0 0px;
font-size:2.4em;
color:#f7dab7;
font-weight:normal;
}

#theme_header h2{
margin:10px 0 0 20px;
font-size:1.4em;
background-color:inherit;
color:#f0f2f4;
font-weight:normal;
}

#theme_navigation_bar{
	float:left;
	height:53px;
	width:100%;
	background: url(../images/menu_center.jpg) repeat-x ;
	margin:0 0 20px 0;
	-webkit-box-shadow: 0px 1px 5px 0px #000;
    -moz-box-shadow: 0px 1px 5px 0px #000;
    box-shadow: 0px 1px 5px 0px #000;
}

#theme_navigation_bar ul{
	float:left;
	margin:0 auto 0 10px;
	overflow:hidden;

}
#theme_navigation_bar li{
	list-style:none;
	line-height:52px;
	float:left;
	background:url(../images/specter.jpg) right bottom  no-repeat;
	margin:1px 0 0 0;

}

#theme_navigation_bar li a{
	height:52px;
	display:block;
	font-size:16px;
	font-weight:normal;
	text-transform:uppercase;
	background-color:inherit;
	color: #c3bca7;
	padding:0 10px 0 10px;
}

* html #theme_navigation_bar a {width:1%;} /* this hack targets IE<7 */

#theme_navigation_bar .selected, #theme_navigation_bar a:hover{
/*	background:url(../images/menu_hover.png)  repeat-x;*/
text-decoration:none;
color:#F13A3A;
}

/**************** Content styles ****************/
#theme_content{
	position:relative;
	float:left;
	width:938px;
	height:auto;
	background:url(../images/bg_content.png) no-repeat top center;
	margin:0 0 30px 0px;
	}
#theme_content_left{
	float:left;
	width:590px;
	height:auto;
	font-size:0.9em;
	padding:15px 0 0 0px;
	color:#000;
	color:#FFF;
	margin:0px;
}
#theme_content_left b{ font-size:16px;}
#theme_content_left2{
	position:relative;
	padding:10px 0 0 0px;
	

}
#theme_content_left h1{
display:block; 
margin:0px 0 10px 0;
font-size:20px;
font-weight:normal;
letter-spacing:-1px;
color:#edebd1 !important;
background-color:inherit;
border-bottom:solid 2px #edebd1;
line-height:30px;
text-indent:0px !important;
}
#theme_content h1{
display:block; 
font-size:20px;
color:#000;
background-color:inherit;
border-bottom:solid 2px #edebd1;
line-height:30px;
text-indent:10px;
}

#theme_content_left h2{
display:block;
margin:0 0 16px 0;
font-size:1.7em;
font-weight:normal;
letter-spacing:-1px;
color:#fff;
background-color:inherit;
}
#theme_content_right{
	float:right;
	width:334px;
	height:auto;
	font-size:0.9em;
	color:#000;
	color:#FFF;
	}
#theme_content_right .all{
	padding:30px 0 0 0px;
	margin:30px 0 0 0px;
	width:334px;
	background:url(../images/search_bg.jpg) no-repeat top right;
	}
#theme_content_right .box{
	padding:0 0 0 45px;
	width:300px;
	background-color:transparent;
	}
.box{
	height:auto !important;
	}
#theme_content_right h3{
	color:#f13a3a;
	text-indent:45px;
	font-size:20px;

	}
#theme_content_right table h2{
	font-size:16px;

	}
#submitButton{
	background:url(../images/button_search.png) no-repeat;
	border:none !important;
	background-color:transparent !important;
	width:79px !important;
	height:30px !important;
	margin:10px 60px 0 0px;
	cursor:pointer;
	 }
#submitButton:hover{
	opacity:0.8;
	 }

#slideshow{
	position:relative;
	height:362px;
	width:918px;
	float:left;
	background-color:#fdfbe6;
	background-repeat:no-repeat;
	border-color:#fff;
	padding:10px;
	}

#theme_content_left h2 a{font-weight:normal;}
#theme_content_left h3{margin:0 0 5px 0; font-size:1.4em; letter-spacing:-1px;}
#theme_content_left .pn-block h4{margin:0 0 5px 0; font-size:1.2em; letter-spacing:-1px;}
#theme_content_left a:hover,#subcontent a:hover{text-decoration:underline;}
#theme_content_left ul,#theme_content_left ol{margin:0 5px 16px 35px;}
#theme_content_left dl{margin:0 5px 10px 25px;}
#theme_content_left dt{font-weight:bold; margin-bottom:5px;}
#theme_content_left dd{margin:0 0 10px 15px;}
#theme_content_left p{ color:#fff; font-size:14px; line-height:20px}
/**************** Sidebar styles ****************/

#theme_subcontent{
float:right;
width:20%;
padding:20px 10px 10px 0;
line-height:1.4em;

}

#theme_subcontent h2{
display:block;
margin:0 0 15px 0;
font-size:1.6em;
font-weight:normal;
text-align:left;
letter-spacing:-1px;
color:#505050;
background-color:inherit;
}

#theme_subcontent p{margin:0 0 16px 0; font-size:0.9em;}

/**************** Menublock styles ****************/

/*.pn-bkey-menu, .pn-bkey-extmenu {margin:0 0 20px 8px; font-size:0.9em;}*/
div.navcontainer ul, div#navcontainer ul {
margin:0 0 20px 20px;
font-size:0.9em;
}

.pn-bkey-menu li, .pn-bkey-extmenu li{list-style:none; display:block; padding:2px; margin-bottom:2px;}
.pn-bkey-menu li a, .pn-bkey-extmenu li a{font-weight:bold; text-decoration:none;}
.pn-bkey-menu li a:hover, .pn-bkey-extmenu li a:hover{text-decoration:none;}
.pn-bkey-menu li ul, .pn-bkey-extmenu li ul{margin:3px 0 3px 15px; font-size:1em; font-weight:normal;}
.pn-bkey-menu li ul li, .pn-bkey-extmenu li ul li{margin-bottom:0;}
.pn-bkey-menu li ul a, .pn-bkey-extmenu li ul a{font-weight:normal;}


/**************** Footer styles ****************/

#theme_footer{
	position:relative;
	float:left;
	text-align:left;
	width:100%;
	font-size:0.9em;
	color:#8a846f;
	background:#edebd1;
	height:350px;
}
#theme_footer span.specter{
	float:left;
	width:100%;
	height:2px;
	background:url(../images/line.jpg) repeat-x left;
	margin:5px 0 0 0px;
	}
#theme_footer .theme_footer_content{
	position:relative;
	margin:0 auto;
	width:938px;
	height:300px;
	border-bottom:2px solid #8a846f;
	
	
	}
#theme_footer .left{
	margin:20px 0 0 0px;
	float:left;
	width:280px;
	height:300px;
	} 
#theme_footer .right{
	margin:10px 0 0 0px;
	float:right;
	width:650px;
	height:300px;
	}
#theme_footer  .all{
	}
#theme_footer  a{
	color:#000;

	}
#theme_footer  .description{
	width:100%;
	float:left;
	text-align:center;
	line-height:0px;

	}
#theme_footer .jqTransformButton{
	float:left;
	background-image:url(../images/button_login.jpg);
	width:79px;
	height:29px;
	border:none;
	margin:5px 0 0 170px;
	}
#theme_content_left .jqTransformButton{	
	width:79px;
	height:29px;
	cursor:pointer;
	}

#theme_footer .jqTransformButton:hover{
	cursor:pointer;
	color:#fff;
	}
#theme_footer input{
	background:url(../images/textbox_bg.jpg) no-repeat;
	border:none;
	width:239px !important;
	height:29px;
	padding:0 0 0 10px;
	margin:0 0 5px 0;

	}
#theme_content_left .jqtransformdone input{
	height:25px;	
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px !important;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
#theme_footer ul{ float:left}
#theme_footer input[type="checkbox"]{ width:16px !important; height:16px; margin:0px 0 0 0; float:left; display:block !important;}
#theme_footer h3{
	text-align:left;
	color:#8a846f;
	font-size:22px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	margin:0 0 10px 0;
	}
#theme_footer p{padding:0; margin:0; text-align:center;}
#theme_footer a{color:#aba884; background-color:inherit; font-weight:bold; font-size:14px;}
#theme_footer a:hover{color:#ABA884; background-color:inherit; text-decoration:none;}
#theme_footer li{ list-style:none;}

/* admin style override */
#theme_content_left div.pn-adminformrow label + ul > li {
}
#theme_content_left div.pn-adminformrow label + ul > li:first-child {
    margin-left: 0em;
}

/**************** Misc classes and styles ****************/

.theme_splitcontentleft{float:left; width:48%;}
.clear{clear:both;}
.small{font-size:0.8em;}
.hide{display:none;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.important{color:#f02025; background-color:inherit; font-weight:bold;}

/* images */
img {
border:none;
}

.theme_box{
margin:0 0 20px 0;
padding:10px;
border:1px solid #c0c0c0;
background-color:#fafbfc;
color:#505050;
line-height:1.5em;
}

#news_articlecontent	{} /*open to design ideas*/
.news_title		{} /*open to design ideas*/
#news_editlinks		{} /*open to design ideas*/
#news_editlinks_ajax	{} /*open to design ideas*/
.news_meta		{} /*open to design ideas*/
#news_topic		{} /*open to design ideas*/
#news_body		{} /*open to design ideas*/
.news_body		{} /*open to design ideas*/
#news_notes		{} /*open to design ideas*/
#news_modify		{} /*open to design ideas*/

/* Table styles based on style from the css table gallery 
   STYLESHEET: CLEAR BLUE, AUTHOR: ROBERT HARTL */

table.pn-datatable {
	width:100%;
	line-height:1.2em;
	background-color:#fff;
	border-collapse:collapse;
	text-align:left;
	letter-spacing:.1em;
	margin-bottom:1em;
}

table.pn-datatable caption {
	padding-bottom:1em;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing:.6em;
	color: #333;
	background: transparent;
}
  
table.pn-datatable thead th, table.pn-datatable tfoot th, table.pn-datatable tfoot td {
	border-right: 1px solid #fff;
	padding-left:5px;
	font-variant:small-caps;
	letter-spacing:0.1em;
	color: #fff;
	background: #a0a0a0;
}
  
table.pn-datatable tfoot th, table.pn-datatable tfoot td {
	border-top: 2pt double #009;
}

table.pn-datatable td, table.pn-datatable th {
	padding:4px;
}

table.pn-datatable tbody tr th, table.pn-datatable tbody tr td {
	border-bottom: 1px dotted #467aa7;
}

table.pn-datatable tbody tr:hover td, table.pn-datatable tbody tr:hover th {
	border-bottom: 1px solid #467aa7;
}

table.pn-datatable tbody td a, table.pn-datatable tbody th a {
	background: transparent;
	text-decoration: none;
	border:none;
}

table.pn-datatable tbody td a:hover, table.pn-datatable tbody th a:hover {
	background: transparent;
}

table.pn-datatable .odd {
	background: #e3e3f4;
}

table.pn-datatable tbody tr:hover {
	color: #333;
	background: #e8eaec;
}

table.pn-datatable tbody tr th:hover {
	background:#fff;
}
div.pn-adminbox{ background-color:#FFF}

#theme_footer .left ul{
	margin: 15px 10px 15px 0px;
	width:300px;
	}
#theme_footer .left li{
	list-style:none;
	padding:0 0 10px 0px;
	border-bottom: dotted 1px #ABA884;
	width:222px;
	background-image:url(../images/list.jpg);
	background-repeat:no-repeat;
	background-position:left 8px;
	text-indent:18px;
	line-height:25px;
	}
#theme_footer .left li:hover{
	background-image:url(../images/list_hover.jpg);

	}
#theme_footer .left li a:hover{
	color:#989898;
	}
/*------------------------general------------------------------*/
.jqTransformSelectWrapper{width:80px !important;}
.jqTransformSelectWrapper div span{color:#000 !important;}
.box dd{margin:5px 0 40px 0px;}
.jqTransformSelectWrapper a.jqTransformSelectOpen{background-position:top center !important; right:-2px !important; }
.jqTransformSelectWrapper li{background-color:#4f4e4e !important;}
.mygallery{ width:590px !important;  }
#theme_content_left input[type="checkbox"],#theme_content_left input[type="radio"]{
	display:block !important;
	width:16px !important;
	height:16px !important;
	
	
	}