        <div class="box_content">
            	<div class="top_box">
                    <div class="top_left"></div>
                    <div class="top_center"></div>
                    <div class="top_right"></div>
                </div><!--box_content-->
                <div class="body_box"></div>
                <div class="buttom_box">
                	 <div class="buttom_left"></div>
                    <div class="buttom_center"></div>
                    <div class="buttom_right"></div>
                </div><!--buttom_box-->
            </div><!--box_content-->