<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<!--[lang]-->">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<!--[charset]-->" />
<title><!--[title]--></title>
<meta name="description" content="<!--[slogan]-->" />
<meta name="keywords" content="<!--[keywords]-->" />
<link rel="stylesheet" type="text/css" href="<!--[$stylepath]-->/style.css" media="print,projection,screen" />
<link rel="stylesheet" type="text/css" href="<!--[$stylepath]-->/print.css" media="print" />
<!--[modulestylesheet xhtml=true]-->
<!--[if $pagetype eq 'admin']--><!--[modulestylesheet stylesheet=admin.css modname=admin xhtml=true]--><!--[/if]-->
</head>
<body>
<div id="page_wraper">
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr><td>
		<div id="sitename_wraper">
			<h1><!--[sitename]--></h1>
			<h2><!--[slogan]--></h2>
		</div><!--sitename_wraper-->
	</td></tr><tr><td>
		<div id="menu_wraper">
			<div class="mainmenu">
				<ul>
					<li class="selected"><a href="<!--[pngetbaseurl]-->">Home</a></li>
					<li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Rate">Rate</a></li>
					<li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Facility">Facility</a></li>
					<li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Gallery">Gallery</a></li>
					<li><a href="index.php?module=POBHotel&type=user&func=view&ctrl=Contact">Contact</a></li>
				</ul>
			</div><!-- mainmenu-->
			<div class="clear"></div><!-- clear-->
		</div><!--menu_wraper-->
	</td></tr><tr><td>
		<div id="top_wraper">
			<div class="slide_wraper">
				<div class="slide_images"><img src="<!--[$stylepath]-->/../images/slide.jpg" /></div><!--slide_images-->
				<div class="slide_name">
					<div class="left_arrow"></div><!--left_arrow-->
					<div class="slidebody">
						<h3>The Patong Hotel, located in the heart of Patong on Phuket Road.</h3>
					</div><!--slidebody-->
					<div class="right_arrow"></div><!--right_arrow-->
					<div class="clear"></div><!-- clear-->
				</div><!--slide_name-->
				<div class="clear"></div><!-- clear-->
			</div><!--slide-->
		</div><!--top_wraper-->
	</td></tr><tr><td>
		<div id="thumslice_wraper">
			<div class="thumbslice"><!--[blockposition name=four_gallery]--></div>
			<div class="clear"></div><!-- clear-->
		</div><!--bottom_wraper-->
	</td></tr><tr><td>
	
		<div id="mid_wraper">
			<div class="welcome_content">
				<!--[$maincontent]-->
			</div><!--welcome_content-->
			<div class="reservation">
				<!--[blockposition name=hotel_search]-->
			</div><!--reservation-->
			<div class="clear"></div><!-- clear-->
		</div><!--mid_wraper-->
	</td></tr><tr><td>
		<div id="bottom_wraper">
			<div class="login_form"><!--[blockposition name=login]--><!--[displaygreeting]--><!--[userlinks]--></div><!--login_form-->
			<div class="map"><!--[blockposition name=map]--></div><!--map-->
			<div class="clear"></div><!-- clear-->
		</div><!--bottom_wraper-->
	</td></tr><tr><td>
		<div id="footer_wraper">
			<p>© 2011 by Pob Hotel co., ltd. all right reserved. Powered by Phuketinnova co., ltd.</p>
			<div class="clear"></div><!-- clear-->
		</div><!--bottom_wraper-->
	</td></tr>
	</table>
</div><!--page_wraper-->
</body>
</html>