<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<!--[lang]-->">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<!--[charset]-->" />
<title><!--[title]--></title>
<meta name="description" content="<!--[slogan]-->" />
<meta name="keywords" content="<!--[keywords]-->" />
<link rel="stylesheet" type="text/css" href="<!--[$stylepath]-->/style.css" media="print,projection,screen" />
<link rel="stylesheet" type="text/css" href="<!--[$stylepath]-->/print.css" media="print" />
<!--[modulestylesheet xhtml=true]-->
<!--[if $pagetype eq 'admin']--><!--[modulestylesheet stylesheet=admin.css modname=admin xhtml=true]--><!--[/if]-->
</head>
<body>
<div id="page_wraper">
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr><td>
		<div id="top_wraper">
				<h1><!--[sitename]--></h1>
				<h2><!--[slogan]--></h2>
		</div><!--top_wraper-->
	</td></tr><tr><td>
		<div id="mid_wraper">
			<div class="menu">
				<ul>
					<li class="selected"><a href="<!--[pngetbaseurl]-->">Home</a></li>
					<li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Rate">Rate</a></li>
					<li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Facility">Facility</a></li>
					<li><a href="index.php?module=POBHotel&type=user&func=list&ctrl=Gallery">Gallery</a></li>
					<li><a href="index.php?module=POBHotel&type=user&func=view&ctrl=Contact">Contact</a></li>
				</ul>
			</div>
			<div class="slide"></div>
			<div class="reservation">
				<!--[blockposition name=hotel_search]-->
				<div class="clear"></div>
			</div>
		</div><!--mid_wraper-->
	</td></tr><tr><td>
		<div id="footer_wraper">
		<p>© 2011 by Pob Hotel co., ltd. all right reserved. Powered by Phuketinnova co., ltd.</p>
		</div><!--footer_wraper-->
	</td></tr>
	</table>
</div><!--page_wraper-->
</body>
</html>